<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.tugas.NongkiKuy"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NongkiKuy"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <!-- Splash screen -->
        <activity
            android:name=".SplashScreen"
            android:label="NongkiKuy"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="NongkiKuy" />
        <activity android:name=".DaerahActivity" />
        <activity
            android:name=".MakananActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity android:name=".AboutActivity"></activity>
      <activity android:name=".DetailCafeActivity"/>
        <activity android:name=".CafeActivity"/>

    </application>

</manifest>